name: Build and upload package
on:
  release:
    types:
    - published

env:
  FORCE_COLOR: 1

permissions:
  contents: read

jobs:
  build:
    name: Build & Verify package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: "3.14"

    - uses: astral-sh/setup-uv@v7

    - name: Build Python Package
      run: |
        echo 'PKG = "pip"'>dvx/_build.py
        uv build

    - name: Check dist
      run: uv tool run twine check --strict dist/*

    - uses: actions/upload-artifact@v5
      with:
        name: Packages
        path: dist/
        if-no-files-found: error

  pypi-publish:
    name: Publish released package to pypi.org
    runs-on: ubuntu-latest
    needs: build
    if: github.event.action == 'published'

    environment:
      name: pypi
      url: https://pypi.org/p/dvx/${{ github.event.release.tag_name }}

    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v6
      with:
        name: Packages
        path: dist

    - name: Upload package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
